.brand-container {
  min-width: 255px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.brand-container:hover {
  cursor: pointer;
}

.content {
  background-color: lightgray;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-components {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.output-components {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: center;
}

.footer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}

.version {
  text-align: center;
}


@media (min-width: 800px) {
  .input-components {
    flex-direction: row;
    gap: 16px;
  }
}