<mat-toolbar color="primary">
  <div class="brand-container" routerLink="/">
    <mat-icon>toll</mat-icon>
    <span>Ethereum Token Indexer</span>
  </div>
</mat-toolbar>
<div class="content">
  <div class="input-components">
    <app-address-input></app-address-input>
  </div>
  <div class="output-components">
    <app-query-output></app-query-output>
  </div>
  <div class="footer">
    <div (click)="onShowVersion()">No Rights Reserved</div>
    <div class="version" *ngIf="showVersion">Version: {{ version }}</div>
  </div>
</div>
